@using OzonParser.Models;
@using OzonParser.Services;
@using OzonParser.Services.Base;

@page "/ozon-parser"

@inject IProductsParserService OzonParserService;
@inject IProductsSaveManager ProductsSaveManager;
@inject IJSRuntime JsRuntime;

<h3>OzonParsingPage</h3>

<div>
    <InputTextArea @bind-Value=_categoriesList></InputTextArea>
    <button onclick="@(async () => await GetProducts())">Выгрузить товары</button>
</div>

@code {
    private string _categoriesList;

    private async Task GetProducts()
    {
        if (string.IsNullOrEmpty(_categoriesList))
            return;

        var categories = _categoriesList.Split("\n");

        var productsByCategories = new Dictionary<string, IEnumerable<Product>>();
        foreach (var category in categories)
        {
            var categoryProducts = await OzonParserService.GetProductsAsync(category);
            productsByCategories.Add(category, categoryProducts);
        }

        await ProductsSaveManager.SaveProductsAsync(productsByCategories);
    }
}
